<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      Write your message here<BR>
      <input name="mesg"></input><BR>
      <button type="submit">Submit</button>
    </form>
    {% if gelist %}
    <ul>
      {% for ent in gelist %}
      <li> {{ ent }} </li>
      {% endfor %}
    </ul>
    {% else %}
    <p> You are the first one here!</p>
    {% endif %}
  </body>
</html>
